<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Car Game</title>
    <link rel="stylesheet" href="../static/css-car/style.css">
</head>
<body>
    <div class="btn-start">Start Game</div>
    <div class="dashboard">
       Speed: <span class="speed-dash"></span> KMH |
       Score: <span class="score-dash"></span> |
       Lives: <span class="life-dash"></span>
    </div>
    <div id="container">
    </div>
    <script src="../static/js-car/main.js"></script>
</body>
</html>