<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta lang="en-us">
    <title>Mars Wars</title>
    <script src='//cdnjs.cloudflare.com/ajax/libs/phaser/3.22.0/phaser.js'></script>
</head>

<body bgcolor="black">

    <script src="static/js-us/MW_US_Level_01_Story.js"></script>
    <script src="static/js-us/MW_US_Level_02_BombDodge.js"></script>
    <script src="static/js-us/MW_US_Level_03_Intermission.js"></script>
    <script src="static/js-us/MW_US_Level_04_Base_Defense.js"></script>
    <script src="static/js-us/MW_US_Level_05_Ending.js"></script>
    <script src="static/js-us/game_config.js"></script>
</body>

</html>