<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta lang="en-us">
    <title>Mars Wars</title>
    <script src="static/js-mars-wars/phaser.min.js"></script>
  </head>
  <body style="background-color: black;">
    <script src="static/js-mars-wars/Entities.js"></script>
    <script src="static/js-mars-wars/SceneCutsceneIntro.js"></script>
    <script src="static/js-mars-wars/SceneAirRaid.js"></script>
    <script src="static/js-mars-wars/SceneCutsceneOutro.js"></script>
    <script src="static/js-mars-wars/SceneGameOver.js"></script>
    <script src="static/js-mars-wars/game.js"></script>
  </body>
</html>
